@import "../../base/fn";

.x2ui-tabbar {
    display: flex;
    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 100%;
    background-color: #F7F7FA;

    &:before {
        @include setTopLine(#C0BFC4);
    }
}

.x2ui-tabbar__item {
    display: block;
    flex: 1;
    padding: 5px 0 0;
    font-size: 0;
    color: $x2uiTextColorGray;
    text-align: center;
    @include setTapColor();

    &.x2ui-bar__item_on {
        .x2ui-tabbar__icon,
        .x2ui-tabbar__icon > i,
        .x2ui-tabbar__label {
            color: #09BB07;
        }
    }
}

.x2ui-tabbar__icon {
    display: inline-block;
    width: 27px;
    height: 27px;

    &i,
    > i {
        font-size: 24px;
        color: $x2uiTextColorGray;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.x2ui-tabbar__label {
    text-align: center;
    color: $x2uiTextColorGray;
    font-size: 10px;
    line-height: 1.8;
}