@import "../../base/fn";

.x2ui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: $x2uiBtnFontSize;
    text-align: center;
    text-decoration: none;
    color: $x2uiBtnFontColor;
    line-height: $x2uiBtnHeight/$x2uiBtnFontSize;
    border-radius: $x2uiBtnBorderRadius;
    @include setTapColor();
    overflow: hidden;
    &:after {
        content: " ";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        border-radius: $x2uiBtnBorderRadius*2;
    }
}
.x2ui-btn_inline {
    display: inline-block;
}