@import "../../../base/fn";

// method2 accessbility
.cells-radio{
    .cell-foot {
        padding-left: $x2uiCellInnerGapH;
    }
}
.x2ui-check {
    // radio
    .cells-radio & {
        &:checked {
            & + .x2ui-icon-checked {
                &:before {
                    display: block;
                    content: '\EA08';
                    color: #09BB07;
                    font-size: 16px;
                }
            }
        }
    }
}