@import "../../../base/fn";

.cell-container-checkbox{
    .cell-item-head {
        padding-right: $x2uiCellInnerGapH;
    }
    .x2ui-icon-checked {
        &:before {
            content: '\EA01';
            color: #C9C9C9;
            font-size: 23px;
            display: block;
        }
    }
}

// method2 accessbility
.check {
    // checkbox
    .cell-container-checkbox& {
        &:checked {
            & + .x2ui-icon-checked {
                &:before {
                    content: '\EA06';
                    color: #09BB07;
                }
            }
        }
    }
}