@import "../../../base/fn";

.cells-checkbox {
    .cell-head {
        padding-right: $x2uiCellInnerGapH;
    }
    .x2ui-icon-checked {
        &:before {
            content: '\EA01';
            color: #C9C9C9;
            font-size: 23px;
            display: block;
        }
    }
}

// method2 accessbility
.x2ui-check {
    // checkbox
    .cells-checkbox & {
        &:checked {
            & + .x2ui-icon-checked {
                &:before {
                    content: '\EA06';
                    color: #09BB07;
                }
            }
        }
    }
}