@import "../../../base/fn";

// method2 accessbility
.cell-radio{
    .cell-foot {
        padding-left: $x2uiCellInnerGapH;
    }
}
.check {
    // radio
    .cell-radio & {
        &:checked {
            & + .x2ui-icon-checked {
                &:before {
                    display: block;
                    content: '\EA08';
                    color: #09BB07;
                    font-size: 16px;
                }
            }
        }
    }
}