<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Badge</h1>
        <p class="page__desc">徽章</p>
    </div>
    <div class="page__bd">
        <div class="cells-title">新消息提示跟摘要信息后，统一在列表右侧</div>
        <div class="cells">
            <div class="cell cell-access">
                <div class="cell-body">单行列表</div>
                <div class="cell-foot" style="font-size: 0">
                    <span style="vertical-align:middle; font-size: 17px;">详细信息</span>
                    <span class="x2ui-badge x2ui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
                </div>
            </div>
        </div>

        <div class="cells-title">未读数红点跟在主题信息后，统一在列表左侧</div>
        <div class="cells">
            <div class="cell">
                <div class="cell-head" style="position: relative;margin-right: 10px;">
                    <img src="images/pic_160.png" style="width: 50px;display: block"/>
                    <span class="x2ui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                </div>
                <div class="cell-body">
                    <p>联系人名称</p>
                    <p style="font-size: 13px;color: #888888;">摘要信息</p>
                </div>
            </div>
            <div class="cell cell-access">
                <div class="cell-body">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="x2ui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="cell-foot"></div>
            </div>
            <div class="cell cell-access">
                <div class="cell-body">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="x2ui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="cell-foot">详细信息</div>
            </div>
            <div class="cell cell-access">
                <div class="cell-body">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="x2ui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="cell-foot"></div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>