<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">按钮</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="x2ui-btn x2ui-btn_primary x2ui-btn_plain-primary">页面主操作 Normal</a>
        <a href="javascript:;" class="x2ui-btn x2ui-btn_primary x2ui-btn_disabled">页面主操作 Disabled</a>
        <p>
            <a class="btn btn-primary">Default button</a>
        </p>
        <p>
            <a class="btn btn-secondary">Default button</a>
        </p>
        <p>
            <a class="btn btn-info btn-sm">Small button</a>
        </p>
        <p>
            <a class="btn btn-success btn-lg">Large button</a>
        </p>
        <p>
            <a class="btn btn-warning">Default button</a>
        </p>
        <p>
            <a class="btn btn-danger">Default button</a>
        </p>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>