<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Footer</h1>
        <p class="page__desc">页脚</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="x2ui-footer">
            <p class="x2ui-footer__text">Copyright &copy; 2008-2016 x2ui.io</p>
        </div>
        <br>
        <br>
        <div class="x2ui-footer">
            <p class="x2ui-footer__links">
                <a href="javascript:void(0);" class="x2ui-footer__link">底部链接</a>
            </p>
            <p class="x2ui-footer__text">Copyright &copy; 2008-2016 x2ui.io</p>
        </div>
        <br>
        <br>
        <div class="x2ui-footer">
            <p class="x2ui-footer__links">
                <a href="javascript:void(0);" class="x2ui-footer__link">底部链接</a>
                <a href="javascript:void(0);" class="x2ui-footer__link">底部链接</a>
            </p>
            <p class="x2ui-footer__text">Copyright &copy; 2008-2016 x2ui.io</p>
        </div>
        <div class="x2ui-footer x2ui-footer_fixed-bottom">
            <p class="x2ui-footer__links">
                <a href="javascript:home();" class="x2ui-footer__link">x2ui首页</a>
            </p>
            <p class="x2ui-footer__text">Copyright &copy; 2008-2016 x2ui.io</p>
        </div>
    </div>
</div>