<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Loadmore</h1>
        <p class="page__desc">加载更多</p>
    </div>
    <div class="page__bd">
        <div class="x2ui-loadmore">
            <i class="x2ui-loading"></i>
            <span class="x2ui-loadmore__tips">正在加载</span>
        </div>
        <div class="x2ui-loadmore x2ui-loadmore_line">
            <span class="x2ui-loadmore__tips">暂无数据</span>
        </div>
        <div class="x2ui-loadmore x2ui-loadmore_line x2ui-loadmore_dot">
            <span class="x2ui-loadmore__tips"></span>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>