<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Preview</h1>
        <p class="page__desc">表单预览</p>
    </div>
    <div class="page__bd">
        <div class="form-preview">
            <div class="form-preview-head">
                <div class="form-preview-item">
                    <label class="form-preview-label">付款金额</label>
                    <em class="form-preview-value">¥2400.00</em>
                </div>
            </div>
            <div class="form-preview-body">
                <div class="form-preview-item">
                    <label class="form-preview-label">商品</label>
                    <span class="form-preview-value">电动打蛋机</span>
                </div>
                <div class="form-preview-item">
                    <label class="form-preview-label">标题标题</label>
                    <span class="form-preview-value">名字名字名字</span>
                </div>
                <div class="form-preview-item">
                    <label class="form-preview-label">标题标题</label>
                    <span class="form-preview-value">很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字</span>
                </div>
            </div>
            <div class="form-preview-foot">
                <a class="form-preview-btn form-preview-btn-primary" href="javascript:">操作</a>
            </div>
        </div>
        <br>
        <div class="form-preview">
            <div class="form-preview-head">
                <label class="form-preview-label">付款金额</label>
                <em class="form-preview-value">¥2400.00</em>
            </div>
            <div class="form-preview-body">
                <div class="form-preview-item">
                    <label class="form-preview-label">商品</label>
                    <span class="form-preview-value">电动打蛋机</span>
                </div>
                <div class="form-preview-item">
                    <label class="form-preview-label">标题标题</label>
                    <span class="form-preview-value">名字名字名字</span>
                </div>
                <div class="form-preview-item">
                    <label class="form-preview-label">标题标题</label>
                    <span class="form-preview-value">很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字</span>
                </div>
            </div>
            <div class="form-preview-foot">
                <a class="form-preview-btn form-preview-btn-default" href="javascript:">辅助操作</a>
                <button type="submit" class="form-preview-btn form-preview-btn-primary" href="javascript:">操作</button>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>