// color
$x2uiColorPrimary: #FDD602;
$x2uiColorWarn: #E64340;

// link
$x2uiLinkColorDefault: #586C94;

// background
$x2uiBgColorDefault: #EFEFF4;
$x2uiBgColorActive: #ECECEC;

// line
$x2uiLineColorLight: #E5E5E5;
$x2uiLineColorDark: #BCBAB6;

// text
$x2uiTextColorTitle: #000000;
$x2uiTextColorTips: #B2B2B2;
$x2uiTextColorWarn: $x2uiColorWarn;
$x2uiTextColorGray: #999999;




