// $x2uiCellBg:#FFFFFF;
// $x2uiCellBorderColor:#D9D9D9;
// $x2uiCellGapV:10px;
// $x2uiCellGapH:15px;
// $x2uiCellInnerGapH:.35em;
// $x2uiCellHeight: 44px;
// $x2uiCellFontSize:17px;
// $x2uiCellTipsFontSize:14px;
// $x2uiCellLabelWidth:105px;

// $x2uiCellLineHeight: ($x2uiCellHeight - 2 * $x2uiCellGapV) / $x2uiCellFontSize; // 高度为44px，减去上下padding的行高
// $x2uiCellsMarginTop:20 / ($x2uiCellFontSize/($x2uiCellFontSize*0 + 1)) + em;

// // x2ui switch
// $x2uiSwitchHeight: 32px;

// x2ui uploader
$x2uiUploaderBorderColor:#D9D9D9;
$x2uiUploaderActiveBorderColor:#999999;
$x2uiUploaderFileSpacing: 9px;
$x2uiUploaderSize: 79px;
$x2uiUploaderBorderWidth: 1px;