$x2uiBtnHeight:46px;
$x2uiBtnFontSize:18px;
$x2uiBtnFontColor:#FFFFFF;
$x2uiBtnActiveFontColor:rgba(255,255,255,.6);
$x2uiBtnDisabledFontColor:rgba(255,255,255,.6);
$x2uiBtnBorderRadius:5px;
$x2uiBtnDefaultGap:15px;

$x2uiBtnMiniFontSize:13px;
$x2uiBtnMiniHeight:2.3;

$x2uiBtnDefaultFontColor:#000000;
$x2uiBtnDefaultActiveFontColor:rgba(0,0,0,.6);
$x2uiBtnDefaultDisabledFontColor:rgba(0,0,0,.3);

$x2uiBtnDefaultBg:#F8F8F8;
$x2uiBtnDefaultActiveBg:#DEDEDE;
$x2uiBtnDefaultDisabledBg:#F7F7F7;

$x2uiBtnPrimaryBg:#FDD602;
$x2uiBtnPrimaryActiveBg:#179B16;
$x2uiBtnPrimaryDisabledBg:#f5e377;
$x2uiBtnPrimaryDisabledFontColor:#cba84c;

$x2uiBtnWarnBg:#E64340;
$x2uiBtnWarnActiveBg:#CE3C39;
$x2uiBtnwarnDisabledBg:#EC8B89;


$x2uiBtnPlainPrimaryColor:rgba(156,94,8,1);
// $x2uiBtnPlainPrimaryBorderColor:rgba(26,173,25,1);
$x2uiBtnPlainPrimaryActiveColor:rgba(26,173,25,.6);
// $x2uiBtnPlainPrimaryActiveBorderColor:rgba(26,173,25,.6);

$x2uiBtnPlainDefaultColor:rgba(53,53,53,1);
$x2uiBtnPlainDefaultBorderColor:rgba(53,53,53,1);
$x2uiBtnPlainDefaultActiveColor:rgba(53,53,53,.6);
// $x2uiBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);
