@import "../../../base/fn";

.form-preview{
    position: relative;
    background-color: #FFFFFF;
    &:before{
        @include setTopLine($x2uiCellBorderColor);
    }
    &:after{
        @include setBottomLine($x2uiCellBorderColor);
    }
}
.form-preview-head{
    position: relative;
    padding: $x2uiCellGapV $x2uiCellGapH;
    text-align: right;
    line-height: 2.5em;
    &:after{
        @include setBottomLine($x2uiCellBorderColor);
        left: $x2uiCellGapH;
    }
    .form-preview-value{
        font-style: normal;
        font-size: 1.6em;
    }
}
.form-preview-body{
    padding: $x2uiCellGapV $x2uiCellGapH;
    font-size: .9em;
    text-align: right;
    color: $x2uiTextColorGray;
    line-height: 2;
}
.form-preview-foot{
    position: relative;
    line-height: 50px;
    display: flex;
    &:after {
        @include setTopLine($x2uiDialogLineColor);
    }
}
.form-preview-item{
    overflow: hidden;
}
.form-preview-label{
    float: left;
    margin-right: 1em;
    min-width: 4em;
    color: $x2uiTextColorGray;
    text-align: justify;
    text-align-last: justify;
}
.form-preview-value{
    display: block;
    overflow: hidden;
    word-break:normal;
    word-wrap: break-word;
}
.form-preview-btn {
    position: relative;
    display: block;
    flex: 1;
    color: $x2uiDialogLinkColor;
    text-align: center;
    @include setTapColor();
    button &{
        background-color: transparent;
        border: 0;
        outline: 0;
        line-height: inherit;
        font-size: inherit;
    }
    &:active {
        background-color: $x2uiDialogLinkActiveBc;
    }
    &:after {
        @include setLeftLine($x2uiDialogLineColor);
    }
    &:first-child {
        &:after {
            display: none;
        }
    }
}
.form-preview-btn-default {
    color: $x2uiTextColorGray;
}
.form-preview-btn-primary {
    color: #0BB20C;
}