@import "../../../base/fn";

.x2ui-cell_vcode {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.x2ui-vcode-img{
    margin-left: 5px;
    height: $x2uiCellHeight;
    vertical-align: middle;
}

.x2ui-vcode-btn {
    display: inline-block;
    height: $x2uiCellHeight;
    margin-left: 5px;
    padding: 0 0.6em 0 0.7em;
    border-left: 1px solid $x2uiLineColorLight;
    line-height: $x2uiCellHeight;
    vertical-align: middle;
    font-size: $x2uiCellFontSize;
    color: $x2uiDialogLinkColor;
    &button{
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        outline: 0;
    }
    &:active {
        color: desaturate($x2uiDialogLinkColor, 30%);
    }
}