@import "../../base/fn";

$x2uiGalleryOprHeight: 60px;
.x2ui-gallery {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    z-index: 1000;
}
.x2ui-gallery__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $x2uiGalleryOprHeight;
    left: 0;
    background: center center no-repeat;
    background-size: contain;
}
.x2ui-gallery__opr {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0D0D0D;
    color: #FFFFFF;
    line-height: $x2uiGalleryOprHeight;
    text-align: center;
}
.x2ui-gallery__del {
    display: block;
}