@import "../../base/fn";

.cell-access {
    @include setTapColor();
    color: inherit;
    &:active {
        background-color: #ECECEC;
    }
    .cell-foot {
        padding-right: 13px;
        position: relative;
        &:after {
            content: " ";
            @include setArrow(right, 6px, #C8C8CD, 2px);
            position: absolute;
            top: 50%;
            margin-top: -4px;
            right: 2px;
        }
    }
}
.cell-link{
    color: $x2uiLinkColorDefault;
    font-size: 14px;

    // 由于cell-item:first-child的:before为隐藏，所以这里要重新显示出来
    &:first-child{
        &:before{
            display: block;
        }
    }
}
